body{
    background-color: aqua;
}
img{
    border: 1px solid aqua;
    border-radius: 50%;
}
header{
    border: 1px solid black;
}
footer{
    border: 1px solid yellow;
}
main{
border: 1px solid red;
}
aside{
    background-color: grey;
    border: 1px solid green;
}