html{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1415px;    */
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link{
    padding: 0 20px;
    line-height: 50px;
    color:rgb(238, 189, 129);
}
a{
    text-decoration: none;
}
a.nav-link:hover{
    color: white;
    transition: 0.3s;
    font-size:30px;
}
.courses{
    color:#2c261c;
}
a.courses:hover{
    color: rgb(59, 46, 46);
    transition: 0.3s;
    text-decoration: underline;
}
.avatar{
    border: 1px solid #414345;
    border-radius: 50%;
    width: 150px;
    height: 200px;
    justify-content: flex-start;
}
.code-text{
    font-size: 16px;
}
header{ 
    display: flex;
    background-color: #414345;
    border: 1px solid black;
    width: 1415px;

}
.heading{
    margin: 50px;
}
h1{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 3px;
}
.header-container{
    display: flex;
}
.header {
    color: #f0ebcd;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}

footer{
    border: 1px solid yellow;
}
.icon{
    width: 10px;
    height: 20px;
}
aside{
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    overflow: hidden; */
    background-color: #cde2ea;
    border: 1px solid green;
    width: 430px;
    height: 1235px;
    top: -1580px; 
    padding:70px 10px 30px 50px;   
}
main{

position: relative;
    border: 1px solid red;
    width: 775px;
    overflow: hidden;
    margin-inline-start: 500px;
    padding: 40px;
}
/* .circle1{
    display:inline;
    content:"   ";
    background-color: #140165;
    height: 30px;
    width: 30px;
    border: 2px solid #140165;
    border-radius: 50%;
} */
/* .head-span-h1{

}
.head-span-h2{

} */
.head-span-dark{
 background-color: #cde2ea;
 color: #414345;
 padding: 10px;
 
}
.head-span-light{
    background-color: #414345;
    color:#f0ebcd;
    padding: 10px;
    
}

/* h2 span .head-span-light{
    background-image: linear-gradient(transparent calc(65%-5px), #414345 5px);
    background-size: 0;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
h2 span .head-span-dark{
    background-image: linear-gradient(transparent calc(65%-5px), #cde2ea 5px);
    background-size: 0;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
span:hover {
    background-size: 100%;
} */ 
#square{
    background-color: #131d57;
    color: #131d57;
    font-weight: 900;
    width: 5px;
    height: 5px;
    /* border: 1px solid #2c261c; */
    font-size: 22px;
    
}
#square1{
    background-color: #969595;
    color: #969595;
    font-weight: 900;
    width: 5px;
    height: 5px;
    /* border: 1px solid #2c261c; */
    font-size: 22px;
    
}